<% include partials/header.ejs %>
<div class="container">
       <div class="jumbotron">
        <h1>Jumbotron heading</h1>
        <p class="lead">Put some text here.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a>
        </p>
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Add more text here.</p>
            <h4>Subheading</h4>
            <p>MAdd more text here..</p>
            <h4>Subheading</h4>
            <p>Add more text here.</p>
        </div>
        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Add more text here.</p>
            <h4>Subheading</h4>
            <p>Add more text here.</p>
            <h4>Subheading</h4>
            <p>Add more text here.</p>
        </div>
    </div>
</div>
  <% include partials/footer.ejs %>
