<% include partials/header.ejs %>
<div class="container">
       <div class="jumbotron">
        <h1>Meet Morrice P </h1>
           
        <p class="lead">
    <h3>Some Vitrual Space</h3>
    <h4>To Showcase Some Virtual Talent</h4>
</p>
        <p><a class="btn btn-lg btn-success" href="contact" role="button">Sign up today for a free consultation</a>
        </p>
    </div>
        <section id="content-3-6" class="content-block content-3-6" data-pg-collapsed>
        <div class="container">
            <div class="row">
                <!-- Feature Box 1 -->
                <div class="col-sm-4 col-xs-12">
                    <div class="feature-box">
                        <div class="icon">
                            <span class="fa fa-pencil"></span>
                        </div>
                        <h3>Branding</h3>
                        <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                    </div>
                </div>
                <!-- Feature Box 2 -->
                <div class="col-sm-4 col-xs-12">
                    <div class="feature-box">
                        <div class="icon">
                            <span class="fa fa-code"></span>
                        </div>
                        <h3>Web Design</h3>
                        <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                    </div>
                </div>
                <!-- Feature Box 3 -->
                <div class="col-sm-4 col-xs-12">
                    <div class="feature-box">
                        <div class="icon">
                            <span class="fa fa-search"></span>
                        </div>
                        <h3>SEO</h3>
                        <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                    </div>
                </div>
            </div>
            <!-- Row Ends -->
        </div>
        <!-- Container Ends -->
    </section>


       
    </div>

  <% include partials/footer.ejs %>
