<% include partials/header.ejs %>
       <section id="content-2-2" class="content-block content-2-2 bg-pomegranate" data-pg-collapsed>
            <div class="container">
                <!-- Start Row -->
                <div class="row">
                    <div class="col-sm-4 col-xs-12 text-center">
                        <div class="icon-outline">
                            <span class="fa fa-send"></span>
                        </div>
                        <h3>Make your ideas happen</h3>
                        <p>Etsy ethnic actually hella Odd Future meggings shabby chic leggings salvia master cleanse stumptown.</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <div class="icon-outline">
                            <span class="fa fa-star"></span>
                        </div>
                        <h3>Hands-on customer support</h3>
                        <p>Etsy ethnic actually hella Odd Future meggings shabby chic leggings salvia master cleanse stumptown.</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <div class="icon-outline">
                            <span class="fa fa-tags"></span>
                        </div>
                        <h3>Hand crafted, quality code</h3>
                        <p>Etsy ethnic actually hella Odd Future meggings shabby chic leggings salvia master cleanse stumptown.</p>
                    </div>
                </div>
    




<% include partials/footer.ejs %>